/* This is for mobile. Width smaller than 768px */
:root {
  --blue-gradient: linear-gradient(#000e19, #00314a);
  --blue-gradient-top: linear-gradient(to top, #000e19, #00314a);
  --nav-bar-gradient: linear-gradient(to bottom, #000e19, #00314a);
  --white: #e4e4e4;
  --gray: #d0d0d0;
  --gray-gradient: linear-gradient(#b0b0b0, #e4e4e4);
  --gray-gradient-reverse: linear-gradient(to top, #b0b0b0, #e4e4e4);
}
body {
  max-width: 800px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #000e19;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smootthing: grayscale;
}

/* Burger icon blanket design */
nav#burger-icon-container {
  position: absolute;
  width: 100%;
  height: 156.99px;
  background-color: rgb(8, 41, 72, 0.9);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: none;
}
ul.burger-icon-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0;
  height: 80%;
}
ul.burger-icon-content a {
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  color: #b0b0b0;
  padding-inline-start: 0;
}

ul.burger-icon-content a:hover {
  color: #9f5c27;
  transition: 0.4s;
}

button.material-symbols-outlined {
  position: absolute;
  right: 8px;
  background: none;
  padding: 8px;
  border-style: none;
  transition: 0.4s;
  color: #b0b0b0;
}
button.material-symbols-outlined:hover {
  color: #e4e4e4;
}

/* Navbar CSS design */
body {
  background-image: url("Homepage-images/header-image-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
.lazy--img {
  filter: blur(10px);
}
img.homepage-img {
  width: 165px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 35vw;
}
ul.navbar {
  padding-inline-start: 0;
}
.active {
  background-image: var(--blue-gradient-top);
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 16px;
}
.navbar li a {
  color: #d0d0d0;
  line-height: 25px;
  font-weight: bold;
  padding: 8px 16px 8px 16px;
  box-sizing: border-box;
  text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
  transition: linear 0.2s;
}

li {
  list-style: none;
}
.user-surf {
  display: flex;
  justify-content: space-between;
}
.user-surf a:hover {
  color: #9f5c27;
}
.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
}
.burger-button a:hover {
  color: #9f5c27;
  transition: linear 0.2s;
}
.user-surf a:active,
.burger-button a:active {
  color: #9f5c27;
}
a {
  text-decoration: none;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: #d0d0d0;
  position: relative;
  text-decoration: none;
  padding: 8px 16px 8px 16px;
}
#burger-btn {
  opacity: 1;
  transition: 0.5s;
}
.mobile-display-none {
  display: none;
}

/* Section hide */
.hidden--section {
  opacity: 0;
  transform: translateY(3rem);
}
section {
  transition: transform 1s, opacity 1s;
}
/*Songs section CSS design */

article.first-article {
  background-image: var(--gray-gradient);
}
.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.songs {
  width: 50%;
  margin: 32px 32px 32px 8px;
  text-align: left;
  font-size: 2.4vw;
  text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
}
.songs p {
  margin: 8px 0 8px 0;
}
.songs-img {
  object-fit: cover;
  width: 50%;
  margin: 32px 8px 32px 32px;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 64px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.learn-more-button-a {
  margin-right: auto;
  text-align: center;
  background-image: var(--blue-gradient);
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 16px;
  text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.learn-more-button-a a {
  color: #d0d0d0;
  font-size: 2.4vw;
}
.learn-more-button-a a::after {
  font-family: "Material Icons";
  content: "\e5cb";
  font-size: 2.5vw;
  position: relative;
  top: 2.5px;
}
.learn-more-button-a a:hover {
  color: #9f5c27;
  transition: linear 0.2s;
}
.learn-more-button-a a:active {
  color: #9f5c27;
}

/*Covers section CSS design */
article.second-article {
  background-image: var(--blue-gradient-top);
}
.second-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.covers-img {
  width: 50%;
  object-fit: cover;
  margin: 32px 32px 32px 8px;
  border-radius: 16px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 64px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.covers {
  color: var(--white);
  width: 50%;
  margin: 32px 8px 32px 32px;
  text-align: left;
  font-size: 2.4vw;
  text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
}
.covers p {
  margin: 8px 0 8px 0;
}
h2 {
  font-size: 1.5em;
  margin: auto;
  text-align: left;
}
.learn-more-button-b {
  margin-left: auto;
  text-align: center;
  font-weight: bold;
  background-color: var(--gray);
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 16px;
  text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.learn-more-button-b a {
  color: #21182d;
  font-size: 2.4vw;
}
.learn-more-button-b a::after {
  font-family: "Material Icons";
  content: "\e5cb";
  font-size: 2.5vw;
  position: relative;
  top: 2.5px;
}
.learn-more-button-b a:hover {
  color: #9f5c27;
  transition: linear 0.2s;
}
.learn-more-button-b a:active {
  color: #9f5c27;
}
/*Tickets section CSS design */

section.third-article {
  background-image: var(--gray-gradient);
}
.third-container {
  display: flex;
  justify-content: center;
}
.tickets {
  width: 75%;

  text-align: center;
  font-size: 2.4vw;
  text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
}
h3 {
  font-size: 1.5em;
  margin: auto;
  margin-top: 6px;
}
.tickets-img {
  width: 100%;
  object-fit: cover;
  margin: auto;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.get-ticket-button {
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 12px;
  text-align: center;
  background-image: var(--blue-gradient);
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.get-ticket-button a {
  color: var(--gray);
  font-size: 2.4vw;
}
.get-ticket-button a::after {
  font-family: "Material Icons";
  content: "\e5cb";
  font-size: 2.5vw;
  position: relative;
  top: 2.5px;
}
.get-ticket-button a:hover {
  color: #9f5c27;
  transition: linear 0.2s;
}
.get-ticket-button a:active {
  color: #9f5c27;
}

/*Shop section CSS design */

section.fourth-article {
  background-image: var(--blue-gradient);
}
.fourth-container {
  display: flex;
  justify-content: center;
}
.shop {
  width: 75%;
  text-align: center;
  font-size: 2.4vw;
  text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
}
h4 {
  font-size: 1.5em;
  margin: auto;
  margin-top: 6px;
  color: var(--white);
}
.shop-img {
  width: 100%;
  object-fit: cover;
  margin: auto;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.add-cart-button {
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 12px;
  text-align: center;
  background-image: var(--gray-gradient);
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.add-cart-button a {
  color: #21182d;
  font-size: 2.4vw;
}
.add-cart-button a::after {
  font-family: "Material Icons";
  content: "\e5cb";
  font-size: 2.5vw;
  position: relative;
  top: 2.5px;
}
.add-cart-button a:hover {
  color: #9f5c27;
  transition: linear 0.2s;
}
.add-cart-button a:active {
  color: #9f5c27;
}
.see-prod a {
  color: var(--white);
}
.see-prod a:hover {
  color: #9f5c27;
  transition: linear 0.2s;
}
.see-prod a:active {
  color: #9f5c27;
}
.see-prod a::after {
  font-family: "Material Icons";
  content: "\e5cb";
  font-size: 2.5vw;
  position: relative;
  top: 2.5px;
}

/*Footer section CSS design */

footer {
  width: auto;
  background-image: url(./Homepage-images/header-image-2.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 800px;
  background-attachment: fixed;
}
.ft-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.follow-section {
  text-align: center;
  text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
  margin: 16px 8px 16px 32px;
  background-image: var(--blue-gradient);
  color: var(--white);
  border-radius: 32px;
  border-top-left-radius: 0px;
  padding-inline-start: 0;
  width: 40%;
}
h5 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 16px 32px 0;
}
ul.ft-li {
  padding-inline-start: 0;
  text-align: center;
  line-height: 32px;
}
.ft-li a {
  text-decoration: none;
  color: var(--gray);
  font-weight: bold;
}
ul.ft-li a {
  border-bottom: 1.9px var(--white) solid;
}
.ft-li a:hover {
  color: #9f5c27;
  transition: linear 0.2s;
}
.ft-li a:active {
  color: #9f5c27;
}
form.feedback-message {
  display: none;
}
.feedback-section {
  text-align: center;
  font-weight: bold;
  margin: 16px 32px 16px 8px;
  text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
  background-image: var(--gray-gradient);
  color: #21182d;
  border-radius: 32px;
  border-top-right-radius: 0px;
  padding-inline-start: 0;
  width: 60%;
}
h6.ft-li a {
  color: #21182d;
}
h6 {
  font-size: 2.5em;
  margin: 16px 32px 0;
  border-bottom: 2px black solid;
}
p.feedb {
  margin: 8px;
  line-height: 30px;
  font-size: 2.5em;
}
div.social-icons-ft {
  display: none;
}

/*Copyright section CSS design */

div.copyright {
  width: 100%;
  background-image: var(--blue-gradient);
  padding: 8px 0 8px 0;
}
.cright {
  margin: 0;
  text-align: center;

  font-size: 12px;
  color: #e4e4e4;
  text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
}
.feedback-section,
.follow-section {
  font-size: 0.5em;
  width: 40%;
}
ul.ft-li {
  line-height: 50px;
  font-size: 2em;
}

/* This is for tablets. Width from 768px to 992px */
@media (min-width: 800px) {
  body {
    max-width: 1000px;
  }
  /* Navbar CSS design */

  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: var(--nav-bar-gradient);
    height: 3em;
  }
  .logo-container {
    height: 40vw;
  }
  ul.navbar,
  .mobile-display-none,
  .contact-menu {
    display: flex;
  }
  img.homepage-img {
    object-fit: cover;
    width: 40vw;
    top: 6vw;
    left: 30vw;
  }
  #burger-btn {
    display: none;
  }

  .top-nav {
    display: flex;
    justify-content: space-between;
  }
  ul.contact-menu {
    padding-inline-start: 0;
    text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
  }
  .navbar li a,
  .contact-menu li a {
    font-size: 1.9vw;
  }
  .contact-menu li a {
    color: #d0d0d0;
    font-weight: bold;
    margin-right: 2vw;
    padding: 8px;
    background-image: linear-gradient(to top, #9f5c27, transparent 20%);
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 16px;
    transition: linear 0.2s;
  }

  .navbar li a {
    padding: 8px;
  }
  .navbar a::after {
    display: none;
  }
  .contact-menu li a:hover {
    color: #9f5c27;
    background-image: linear-gradient(to top, #9f5c27, transparent 35%);
  }
  .contact-menu li a:active {
    color: #9f5c27;
  }
  ul li a.active:hover {
    color: #9f5c27;
  }
  .navbar li a {
    background-image: linear-gradient(to top, #9f5c27, transparent 20%);
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 16px;
  }
  .user-surf a:hover {
    color: #9f5c27;
    background-image: linear-gradient(to top, #9f5c27, transparent 35%);
  }

  /*Songs section CSS design */

  .songs {
    width: 65%;
    font-size: 2vw;
  }
  .songs-img {
    width: 35%;
    object-fit: cover;
    border-radius: 32px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 64px;
  }
  .learn-more-button-a {
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 32px;
  }
  h1 {
    text-align: center;
  }

  /*Covers section CSS design */

  .covers-img {
    width: 35%;
    object-fit: cover;
    border-radius: 32px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 64px;
  }
  .covers {
    width: 65%;
    font-size: 2vw;
  }
  .learn-more-button-b {
    border-radius: 16px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 32px;
  }
  h2 {
    text-align: center;
  }

  /*Tickets section CSS design */

  .tickets-img,
  .get-ticket-button {
    width: 75%;
  }

  /*Shop section CSS design */

  .shop,
  .shop-img,
  .add-cart-button {
    width: 75%;
  }

  /*Footer section CSS design */

  footer {
    background-size: 100vw;
  }
}

/* This is for laptops. Width from 992px to 1200px */
@media (min-width: 1000px) {
  body {
    max-width: 1200px;
  }

  /* Navbar CSS design */

  header,
  footer {
    background-size: 100vw;
  }

  img.homepage-img {
    width: 40vw;
    top: 5vw;
    left: 30vw;
  }

  /* Tickets section CSS design */
  .tickets-img {
    margin: auto;
    object-fit: cover;
    border-radius: 32px;
    opacity: 0.7;
    transition: 0.5s ease;
  }
  .ease-button {
    transition: 0.5s ease;
    opacity: 0;
  }
  .ease-img:hover .tickets-img {
    opacity: 1;
  }
  .ease-img:hover .ease-button {
    opacity: 1;
  }

  /* Shop section CSS design */
  .shop-img {
    margin: auto;
    border-radius: 32px;
    opacity: 0.7;
    transition: 0.5s ease;
  }
  .ease-add-button {
    transition: 0.5s ease;
    opacity: 0;
  }
  .ease-shop-img:hover .shop-img {
    opacity: 1;
  }
  .ease-shop-img:hover .ease-add-button {
    opacity: 1;
  }
  /*No highlight for phone and tablets*/
  .learn-more-button-a a::after {
    display: none;
  }
  .learn-more-button-b a::after {
    display: none;
  }
  .get-ticket-button a::after {
    display: none;
  }
  .see-prod a::after {
    display: none;
  }
  .add-cart-button a::after {
    display: none;
  }
  h6 {
    border-bottom: none;
  }
  ul.ft-li a {
    border-bottom: none;
  }
}

/* This is for desktop. Width bigger than 1200px */
@media (min-width: 1200px) {
  body {
    max-width: none;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  img.homepage-img {
    width: 35vw;
    top: 8vw;
    left: 31vw;
  }
  .top-nav {
    height: 4.2em;
  }
  .navbar li a,
  .contact-menu li a {
    font-size: 1.8em;
  }

  .contact-menu li a {
    padding: 8px 8px 8px 16px;
  }
  .navbar li a {
    padding: 8px 8px 8px 16px;
  }

  /*Songs section CSS design */

  article.first-article,
  article.second-article {
    width: 100%;
  }
  article.first-article {
    border-top-right-radius: 1000px;
  }
  article.second-article {
    border-top-left-radius: 1000px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  section.songs-row {
    display: flex;
    background: var(--blue-gradient);
  }
  .songs {
    width: 60%;
    margin: auto;
    margin-top: 128px;
    margin-left: 16px;
    text-align: center;
    font-size: 1.5vw;
  }
  .songs p {
    margin: 16px 0 16px 0;
  }
  h1 {
    margin-top: 32px;
  }
  .songs-img {
    width: 60%;
    height: 25vw;
    margin: auto;
    margin-left: 16px;
    margin-bottom: 32px;
    border-radius: 999px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    opacity: 0.7;
    transition: 0.5s ease;
  }
  .learn-more-button-a {
    margin-right: auto;
    border-radius: 32px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .learn-more-button-a a {
    font-size: 2vw;
  }
  .songs-img:hover {
    opacity: 1;
  }

  /*Covers section CSS design */

  section.covers--row {
    background: var(--gray-gradient-reverse);
  }
  article.second-article {
    background-color: #21182d;
  }
  .second-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .covers-img {
    width: 60%;
    height: 25vw;
    margin: auto;
    margin-right: 16px;
    margin-bottom: 32px;
    border-radius: 999px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    opacity: 0.7;
    transition: 0.5s ease;
  }
  .covers-img:hover {
    opacity: 1;
  }
  .covers {
    width: 60%;
    margin: auto;
    margin-top: 128px;
    margin-right: 16px;
    text-align: center;
    font-size: 1.5vw;
  }
  .covers p {
    margin: 16px 0 16px 0;
  }

  .learn-more-button-b {
    margin-right: auto;
    border-radius: 32px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .learn-more-button-b a {
    font-size: 2vw;
  }

  /*Tickets section CSS design */
  section.third-article {
    background-image: linear-gradient(#e4e4e4, #e4e4e4);
  }

  /*Footer section CSS design */

  footer {
    background-size: 100%;
  }
  ul.ft-li {
    display: none;
  }
  div.social-icons-ft {
    display: block;
  }
  .social-icons-ft span {
    font-size: 60px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .social-icons-ft a {
    color: #e4e4e4;
  }
  .social-icons-ft a:hover {
    color: #9f5c27;
    transition: linear 0.2s;
  }
  .social-icons-ft {
    margin: 64px 0 32px 0;
  }
  h6 {
    pointer-events: none;
    border-style: none;
  }
  .ft-li a:hover {
    color: #000e19;
    cursor: default;
  }
  form.feedback-message {
    display: flex;
    flex-direction: column;
  }
  .feedback-message {
    width: 95%;
    padding: 8px 16px 8px 16px;
    margin: 8px;
  }
  label {
    text-align: left;
    font-size: 2.3em;
  }
  fieldset {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-style: none;
  }
  input,
  textarea {
    background-color: #000e19;
    color: #e4e4e4;
    font-size: 1em;
    outline: none;
    resize: none;
  }
  textarea {
    width: 95%;
    height: 2vw;
    transition: 0.3s ease;
  }
  input#name {
    width: 32%;
    transition: 0.3s ease;
  }
  input#email {
    width: 31%;
    transition: 0.3s ease;
  }
  input#age {
    width: 33%;
  }
  input#name:focus,
  #email:focus {
    width: 80%;
  }
  textarea:focus {
    height: 7vw;
  }
  #submit {
    width: 25%;
    margin: auto;
    margin-top: 8px;
    background-color: #000e19;
    border-radius: 8px;
    border-style: none;
    color: #e4e4e4;
    padding: 8px 16px 8px 16px;
    font-weight: bold;
    font-size: 2em;
  }

  #submit:hover {
    color: #9f5c27;
    transition: 0.3s ease;
  }
}
